body {
    background-color: #fff5f7;
    background-image: url(bg3.jpg) ;
    
}
#div1{
    display: grid;
    place-items: center;
}

h1 {
    color: #ff4081;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #ff4081;
    color: white;
}

.card-body {
    background-color: #ffe4e1;
}

.match-card {
    border: 1px solid #dee2e6;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
    display: none; /* Hide cards by default */
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.match-card.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.match-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ff4081;
    transition: transform 0.3s ease-in-out;
}

.match-card img:hover {
    transform: scale(1.05);
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    font-weight: bold;
    font-size: x-large;
    color: #e0c6cf;
}

.btn-primary {
    background-color: #ff4081;
    border-color: #ff4081;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #e60073;
    border-color: #e60073;
    transform: scale(1.05);
}

/* Popup styles */
.detail-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.5s;
}

.detail-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #ff4081;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.modal-body img {
    max-height: 200px;
    object-fit: cover;
}
